#loader {
    position: absolute;
    display: flex;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.data-element {
    opacity: 0.75;
}
.data-element.highlight, .data-element:hover {
    opacity: 1;
}


#tooltip {
    position: absolute;
    visibility: hidden;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 8px;
}

.tooltip-label {
    font-weight: 500;
    font-size: 0.8rem;
    color: #888;
}

.buttons-column {
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
}
.buttons-column button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.charBox {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}





.line-plot-layer {
    opacity: 0.5;
}
.line-plot-layer.highlight {
    opacity: 1;
}
.line-plot-layer.highlight > .line-plot-marker {
    r: 5px;
}
.line-plot-layer.highlight > .line-plot-line {
    stroke-width: 3px;
}

.legend-entry.highlight > circle {
    r: 5px;
}
.legend-entry.highlight > line {
    stroke-width: 3px;
}
.legend-entry.highlight > text {
    font-weight: bold;
}

.chord {
    opacity: 0.5;
}
.chord.highlight,.chord:hover {
    opacity: 1;
}

